
.question-discursive-back {
  background-size: cover; 
  padding: 70px 0px;
}

.carousel-fixed::after {
  background: url(../../images/brd/img-15.png) center no-repeat;
}

.carousel-fixed2::after {
  background: url(../../images/brd/img-15.png) center no-repeat;
}

.carousel .slideshow-content {
  padding-left: 35%;
} 

.sco-02 .dropdown .featured-ico {
  padding: 100px 0 20px 0;
} 

.flashcard-bkg {
  background-size: 150%  100%;
}

.color-black{
  color: black;
}

.featured-ico .content {
  padding: 50px 100px 50px 100px;
}

.dropdown .featured-ico {
  padding: 50px 0;
}

.featured-img {
  left: 10%;
}

.featured-img.cap{
  left: 50%;
}

.flashcard .card-1 .card-front {
  background: url(../../images/brd/img-9.png) center no-repeat;
  background-size: cover;
}

.flashcard .card-2 .card-front {
  background: url(../../images/brd/img-10.png) center no-repeat;
  background-size: cover;
}

.flashcard .card-3 .card-front {
  background: url(../../images/brd/img-11.png) center no-repeat;
  background-size: cover;
}

/* ================================================================== */

.flashcard .card2-1 .card-front {
  background: url(../../images/brd/img-18.png) center no-repeat;
  background-size: cover;
}

.flashcard .card2-2 .card-front {
  background: url(../../images/brd/img-19.png) center no-repeat;
  background-size: cover;
}

.flashcard .card2-3 .card-front {
  background: url(../../images/brd/img-20.png) center no-repeat;
  background-size: cover;
}


 

